# ui -----------------------------

# dependencies
/ui/node_modules

# testing
/ui/coverage

# logs
/ui/*.log
/ui/report.*.json

# api ----------------------------

# dependencies
/api/node_modules
/api/.env

# logs
/api/logs

# testing
/api/coverage

# production
/api/dist
