# ui -----------------------------

# dependencies
/ui/node_modules

# testing
/ui/coverage

# production
#/ui/build

# api ----------------------------

# dependencies
/api/node_modules

/api/logs

# testing
/api/coverage

# production
/api/build