// --- global stylesheet ---

// variables and mixins

$appBackground: #fff8f5;
$appBackgroundDark: #222222;
$gridSize: 8px;
$standardMargin: 2*$gridSize;
$pageContentWidth: 900px;
$handwriting: 'Gloria Hallelujah', cursive;
$breakPoint_md: 720px; // TODO
$breakPoint_lg: 960px; // TODO

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// app styles

html, #root, .App {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

body{
    width: 100%;
    height: auto;
    min-height: 100%;
}

.MuiPaper-root {
    &.App {
        background-color: $appBackground;
    }

    &.App-dark {
        background-color: $appBackgroundDark;
    }
}

.App {
    text-align: center;
}

.App-loading {
    @include flex-center;
}

.MuiContainer-root {
    padding-bottom: 4*$gridSize; // TODO - because negative margin
}

header {
    margin-bottom: 2*$standardMargin;
    padding: $gridSize;
    .appTitle {
        flex: 1 1 auto;
        font-family: $handwriting;
        letter-spacing: 4px;
        font-size: 4vw; // relativ to width
        @media (min-width: $breakPoint_lg) {
            font-size: 40px;
        }
    }
}

.JustOneHome {
    @include flex-center;
    flex-direction: column;

    .newGameBox {
        @include flex-center;
        flex-direction: column;
        padding: $standardMargin;
        margin: $standardMargin 0;

        button {
            margin-top: $standardMargin;
        }
    }
}

.buttonWithLoading {
    position: relative;
    .loadingInButton {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px; // TODO
        margin-left: -12px;
    }
}

.MuiTypography-root.MuiTypography-h5 {
    font-family: $handwriting;
    margin-top: $standardMargin;
    padding-top: $gridSize;
    text-transform: capitalize;
}

.MuiAlert-filledInfo {
    align-items: center;
}

.MuiGrid-container {
    @include flex-center;
}

.New-player, .Word-adder {
    @include flex-center;
    flex-direction: column;

    Button, .MuiFormControl-root {
        margin: $gridSize;
    }
}

.Game-lobby, .Game-field, .Game-end-view {
    justify-content: center;
    @media(min-width: $breakPoint_md) {
        justify-content: space-between;
    }
}

.MuiPaper-root.StatusInfo {
    padding: $standardMargin;
}

.Word-card {
    @include flex-center;
    height: 220px;
    max-height: 30vh;
    min-height: 150px;
    font-size: 32px;
    border: 2px solid black;
    white-space: nowrap;
    position: relative;

    &.Word-card-correct {
        border-color: green !important;
    }
    &.Word-card-wrong {
        border-color: red !important;
    }
    &.Word-card-guess {
        font-size: 48px;
       .Word {
            font-family: $handwriting;
        }
    }

    .Author-tag {
        font-family: $handwriting;
        text-decoration: none !important;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        line-height: 16px;
        margin: $standardMargin+$gridSize;
        white-space: normal;
    }

    .Orig-word-tag {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 16px;
        line-height: 16px;
        margin: $standardMargin+$gridSize;
        white-space: normal;
    }

    .Word-hint-input {
        margin-left: 5*$gridSize; // TODO
    }
}

.Game-end-view, .Game-lobby {
    .Word-card-wrapper {
        @include flex-center;
        width: 100%;
    }
    .Word-card {
        max-width: 250px;
        height: 125px;
        font-size: 24px;
        flex: 1 1 auto;
    }
}
.Game-end-view {
    align-items: flex-start; 

    .Word-card {
        align-items: flex-start;
        span:first-child {
            margin-top: 5*$gridSize;
        }
    }
}

.Word-hint-input {
    @include flex-center;
    width: 100%;
    margin-left: 7*$gridSize; // TODO
    margin-right: 2*$gridSize;

    >div {
        width: 100%;
    }

    button {
        margin-left: 8px;
    } 
}

.Word-hint {
    @include flex-center;
    height: 100px;
    font-size: 48px;
    border: 2px solid black;
    font-family: $handwriting;
    white-space: nowrap;
    position: relative;
    
    &.Word-hint-writing {
        border-style: dotted
    }

    &.Word-hint-duplicate {
        border-style: dashed;
        color: #aaaaaa;
        border-color: #aaaaaa;
        &:not(.Word-hint-showCross) {
            text-decoration: line-through;
        }
    }

    &.Word-hint-long {
        font-size: 32px;
    }

    &.Word-hint-huge {
        font-size: 24px;
    }

    .Author-tag {
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        line-height: 16px;
        margin: $gridSize;
    }

    .Duplicate-toggle {
        position: absolute;
        right: $gridSize;
        z-index: 1;
    }

    .Done-icon, .Invalid-icon {
        font-size: 80px;
    }
}

.Game-progress {
    display: flex;
    flex-direction: column;
    margin: $standardMargin;
    div + div {
        margin-top: $gridSize
    }
}

.ButtonLink {
    color: inherit;
}


// color picker styles

$colorButtonSize: 4*$gridSize;
$iconSize: 3*$gridSize;
.Color-picker {
    width: 4*$colorButtonSize;
    margin: 2*$standardMargin;
    .Color-button {
        border-radius: 0;
        margin: 0;
        padding: $colorButtonSize/2;

        &.Color-selected {
            padding: $colorButtonSize/2-$iconSize/2;
            color: white;
        }
    }
}

// pencil animation styles

$pencilWidth: 12px;
$pencilLength: 4*$pencilWidth;
$pencilNib: 1px;

.pencil {
    width: $pencilWidth;
    margin-left:$pencilLength/2;
    margin-top:0px;
    transform:rotate(35deg);
    animation: pencil .5s forwards;
    animation-iteration-count: infinite;
    .nib{
        width: 2*$pencilNib;
        height: 0;
        border-top: $pencilWidth solid #000000;
        border-left: $pencilWidth/2-$pencilNib solid transparent;
        border-right: $pencilWidth/2-$pencilNib solid transparent;
     }
    .body{
        width: $pencilWidth;
        height: $pencilLength;
        background-color: #000000;
        border-top-left-radius: $pencilWidth/4;
        border-top-right-radius: $pencilWidth/4;
    }
}

@keyframes pencil{
    0% {transform:rotate(35deg);}
    50% {transform:rotateZ(25deg);}
    100% {transform:rotateZ(35deg);}
}