$appBackground: #fbf2e8;
$gridSize: 8px;
$standardMargin: 2*$gridSize;
$pageContentWidth: 900px;

html {
  height: 100%;
  width: 100%;
}

body, #root, .App {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $appBackground;
}

.App {
  text-align: center;
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
      Button {
        margin: $gridSize;
      }
  }
}

.JustOne-banner {
  width: $pageContentWidth;
  max-width: 100%;
}

.New-player, .Player-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  Button {
    margin: $gridSize;
  }
  .Word-hint:last-child {
    outline-style: dotted
  }
}

.Game-lobby, .Game-field, .Game-end-view {
  display: flex;
  width: $pageContentWidth;
  max-width: 100%;
  margin: $standardMargin auto;
  flex-wrap: wrap
}

.Current-word, .Current-hints, .Correct-words, .Wrong-words {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Word-card {
  width: 400px;
  max-width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: $standardMargin;
  font-size: 32px;
  margin: $standardMargin auto;
  outline: 2px solid black;
  outline-offset: -$standardMargin;
  white-space: nowrap;
  position: relative;

  .Author-tag {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    margin: $standardMargin+$gridSize;
  }
}

.Game-end-view {
  .Word-card {
    width: 200px;
    height: 125px;
    font-size: 16px;
    margin: $gridSize auto;
  }
}

.Word-hint-input button {
  margin-left: 8px;
}

.Word-hint {
  height: 100px;
  width: 400px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 48px;
  margin: $standardMargin auto;
  outline: 2px solid black;
  font-family: 'Gloria Hallelujah', cursive;
  white-space: nowrap;
  position: relative;

  .Author-tag {
    text-decoration: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    margin: $gridSize;
  }
}

.Game-progress {
  display: flex;
  margin: $standardMargin auto;
}

$pencilWidth: 12px;
$pencilLength: 4*$pencilWidth;
$pencilNib: 1px;

.pencil {
  width: $pencilWidth;
  margin-left:$pencilLength/4;
  margin-top:0px;
  transform:rotate(35deg);
  animation: pencil .5s forwards;
  animation-iteration-count: infinite;
  .nib{
    width: 2*$pencilNib;
    height: 0;
    border-top: $pencilWidth solid #000000;
    border-left: $pencilWidth/2-$pencilNib solid transparent;
    border-right: $pencilWidth/2-$pencilNib solid transparent;
   }
  .body{
    width: $pencilWidth;
    height: $pencilLength;
    background-color: #000000;
    border-top-left-radius: $pencilWidth/4;
    border-top-right-radius: $pencilWidth/4;
  }
}

@keyframes pencil{
  0% {transform:rotate(35deg);}
  50% {transform:rotateZ(25deg);}
  100% {transform:rotateZ(35deg);}
}