// --- global stylesheet ---

// variables and mixins
$gridSize: 8px;
$standardMargin: 2*$gridSize;
$breakPoint_md: 720px; // TODO

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// some material-ui overrides - TODO

.MuiContainer-root {
    padding-bottom: 4*$gridSize; // TODO - because negative margin
}

.MuiAlert-filledInfo {
    align-items: center;
}

.MuiGrid-container {
    @include flex-center;
}

.react-joyride__tooltip {
    white-space: pre-line;
}

// app styles - TODO move to components

.New-player, .Word-adder {
    @include flex-center;
    flex-direction: column;

    .MuiButton-root, .MuiFormControl-root {
        margin: $gridSize;
    }
}

.Game-lobby, .Game-field, .Game-end-view {
    flex: 1 0 auto;
    align-items: flex-start;
    justify-content: center;
    @media(min-width: $breakPoint_md) {
        justify-content: space-between;
    }
}

.MuiPaper-root.StatusInfo {
    padding: $standardMargin;
}
